.header {
    display: flex;
}

.nav {
    background-color: #121212;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100vw;
    height: 15.5vh;
}

.logo {
    width: 120px;
    height: auto;
    margin-left: 50px;
    filter: brightness(100);
}

@media only screen and (max-width: 600px) {

    .header {
        display: flex;
    }

    .nav {
        background-color: #121212;
        display: flex;
        justify-content: left;
        align-items: center;
        width: 100vw;
        height: 9vh;
    }

    .logo {
        width: 120px;
        height: auto;
        margin-left: 50px;
        filter: brightness(100);
    }

}

@media only screen and (min-width: 601px) and (max-width: 1024px) {

    .header {
        display: flex;
    }

    .nav {
        background-color: #121212;
        display: flex;
        justify-content: left;
        align-items: center;
        width: 100vw;
        height: 12vh;
    }

    .logo {
        width: 200px;
        height: auto;
        margin-left: 50px;
        filter: brightness(100);
    }
}


@media only screen and (min-width: 1025px) {}